* {
  margin: 0;
  padding: 0;
}

.counter {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-theme {
  background-color: black;
  color: whitesmoke;
}

.light-theme {
  background-color: whitesmoke;
  color: black;
}

.btn {
  padding: 5px 8px;
  border-radius: 20px;
}

.decrement {
  margin-left: 10px;
}

.count {
  margin: 10px 0;
}
